<div class='cc_wrapper cc_login_back'>
    <div class="site_body">
        <div class="cc_login_container">
            <div class="cc_logo"></div>
            <form name="form" novalidate class="login-form">
                <div class="cc_login_box">
                    <h1>Update Password</h1>

                    <p>Please enter a new password below.</p>

                    <div class="field"><input class="input" placeholder="Email Address" name="email" type="email"
                            ng-model="email" required autofocus /></div>
                    <div class="field"><input class="input" placeholder="New Password" name="password" type="password"
                            ng-model="password" required autofocus /></div>
                    <div class="field"><input type="hidden" name="code" ng-model="code" required /></div>
                    <div class="cc_error" [hidden]="!(authError.length>0)">
                        {{authError}}
                    </div>

                    <div class="cc_red btn">
                        <button ng-click="update(email, password, code)" ng-disabled='form.$invalid'>Submit</button>
                    </div>
                </div>
            </form>
            <div class="cc_login_footer">
                <p><i class="icon-info-circled"></i>Questions? We can help. <a href=""
                        ng-click="goToMarketingSupportSite()">Contact
                        Customer Service</a></p>
            </div>
            <div class="cc_login_legal">&copy; {{ '' | currentYear }} CompuCram. All Rights Reserved</div>
        </div>
    </div>
</div>